h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FramesContainerContainer {
  margin: 2rem;
  border: 0.125rem solid cornflowerblue;
}

.FramesContainer {
  text-align: center;
}

.Frame {
  width: 200px;
  vertical-align: text-bottom;
}

.FramePlaceholder {
  display: inline-block;
  vertical-align: top;
}
