h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.FramesContainer {
  text-align: center;
  width: 90%;
}

.Frame {
  width: 200px;
  vertical-align: text-bottom;
}

.FramePlaceholder {
  display: inline-block;
  vertical-align: top;
}
