h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.FramesContainerContainer {
  margin: 1.5rem 2rem;
  border-radius: 4px;
  border: 0.5rem solid #343434;
}

.FramesContainer {
  text-align: center;
}

.Frame {
  width: 200px;
  vertical-align: text-bottom;
}

.FramePlaceholder {
  display: inline-block;
  vertical-align: top;
}
